body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f0f0f0;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6347;
}

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('IMG_20240409_190956.jpg') no-repeat center center/cover;
    color: #fff;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h1 {
    font-size: 4rem;
    margin: 0;
}

#hero p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

section {
    padding: 4rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    background: #fff;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.project {
    background: #e4e4e4;
    margin: 1rem 0;
    padding: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul li {
    background: #ff6347;
    color: #fff;
    margin: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 50px;
}

#contact a {
    color: #ff6347;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

#contact a:hover {
    color: #333;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}
